.footer-section{
    min-height: 250px;
    display: flex;
    overflow: hidden;
}

.footer-left{
    padding-top: 20px;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.payment{
    height: 90px;
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.footer-middle{
    padding-top: 20px;
    flex: 1;
    align-items: center;
    text-align: center;
}

.footer-menu{
    width: 70%;

    margin-top: 10px;
    list-style: none;
    float: left;
    text-align: left;
    margin-left: 50%;
    transform: translateX(-10%);
}

.footer-menu a{
    color: #FFF;
    text-decoration: none;
    transition: 0.5s;
    border-left: 0px solid;
}


.footer-menu li{
    padding-bottom: 12px;
    text-decoration: none;
    text-emphasis: none;
}

.footer-menu a:hover{
    border-left: 5px solid #FFF;
    padding-left: 5px;
    transition: 0.2s;
}


.footer-right{
    padding-top: 20px;
    flex: 1.5;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.footer-menu-right{
    width: 70%;

    margin-top: 10px;
    list-style: none;
    float: left;
    text-align: left;
    margin-left: 50%;
    transform: translateX(-20%);
}

.footer-menu-right a{
    color: #FFF;
    text-decoration: none;
    transition: 0.5s;
    border-left: 0px solid;
}


.footer-menu-right li{
    padding-bottom: 12px;
    text-decoration: none;
    text-emphasis: none;
}

.footer-menu-right i{
margin-right: 30px;
}


.footer-menu-right a:hover{
    border-left: 5px solid #FFF;
    padding-left: 5px;
    transition: 0.2s;
}

.footer-left-text{
    margin-bottom: 20px;
}

.footer-middle-text{
    margin-bottom: 20px;
}

.footer-right-text{
    margin-bottom: 20px;
}

.copyright{
    display: flex;
    background-color: #1d4d8b;
    color: #FFF;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.copyright:hover{
    background-color: #1d4d8b;
}

.copyright H3{
    font-weight: normal;
}

@media only screen and (max-width: 600px) {
    .footer-section{
        min-height: 550px;
        display: block;
    }

    .footer-middle{
        margin-top: 10px;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-right{
        margin-top: 180px;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        
    }

    .footer-left-text{
        margin-bottom: 0px;
    }
    
    .footer-middle-text{
        margin-bottom: 0px;
    }
    
    .footer-right-text{
        margin-bottom: 0px;
    }
    
}